@use "./variables.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;

  &.primary {
    background-color: $light-blue-0;
    color: $color-white;
    &:hover {
      border-color: rgba($blue-70, 0.15);
      box-shadow: rgba($blue-70, 0.1) 0 4px 12px;
      transform: translateY(-1px);
    }
  }

  &.secondary {
    // background-color: $color-white;
    border: 1px solid rgba($blue-70, 0.1);
    box-shadow: rgba($blue-70, 0.02) 0 1px 3px 0;
    color: rgba($blue-70, 0.85);

    &:hover {
      border-color: rgba($blue-70, 0.5);
      box-shadow: rgba($blue-70, 0.1) 0 4px 12px;
      color: rgba($blue-70, 0.65);
      transform: translateY(-1px);
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $color-black;
  }

  :is(&.primary, &.secondary):disabled {
    background-color: $light-blue-70;
    cursor: default;
  }

  &.tertiary:disabled {
    background-color: $color-white;
    color: $light-blue-70;
  }

  &.sm {
    padding: 0 8px;
    font-size: 14px;
    height: 32px;
    border-radius: 2px;
  }

  &.md {
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
  }

  &.lg {
    padding: 0 16px;
    font-size: 18px;
    height: 48px;
    border-radius: 6px;
  }

  .icon {
    height: 1em;
    width: 1em;
  }

  @keyframes downloadAnimation {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &:hover .icon.download {
    animation: downloadAnimation 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &.only-icon {
    padding: 0 8px;

    &.sm .only-icon-size {
      width: 16px;
      height: 16px;
    }

    &.md .only-icon-size {
      width: 24px;
      height: 24px;
    }

    &.lg .only-icon-size {
      width: 32px;
      height: 32px;
    }
  }
}
