@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    background-color: #fdfdfd;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b6b6b6;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: $color-white;
  color: $blue-70;
  position: relative;
}

main {
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

p {
  font-size: $text-size-md;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1,
.text-size-h1 {
  font-size: $text-size-4xl;
  font-weight: 600;
}

h2,
.text-size-h2 {
  font-size: $text-size-3xl;
}

h3,
.text-size-h3 {
  font-size: $text-size-2xl;
}

h4,
.text-size-h4 {
  font-size: $text-size-xl;
}

h5,
.text-size-h5 {
  font-size: $text-size-lg;
}

h6,
.text-size-h6 {
  font-size: $text-size-sm;
}

small,
.text-small {
  font-size: $text-size-sm;
}

ul,
ol {
  list-style-image: url('data:image/svg+xml,<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" width="100%" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M416 128 192 384l-96-96"></path></svg>');
  list-style-position: inside;
}
li::marker {
  font-size: 1.5em;
  line-height: 0;
}

header {
  padding: 1rem;
}

section {
  padding: 56px 1rem;
}

:has(> .animated-icon):hover .download {
  animation: download 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

:has(> .animated-icon):hover .envelope {
  animation: envelope 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes download {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes envelope {
  0% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: clamp(1rem, 2.5vw, 2rem);
  position: relative;
  padding-top: 2rem;

  &__shadow {
    position: absolute;
    top: 0;
    font-size: $text-size-3xl;
    font-weight: 900;
    opacity: 0.1;
    background: -webkit-linear-gradient($blue-70, #f2f4f9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.badge {
  display: inline-flex;
  padding-right: 0.6em;
  padding-left: 0.6em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 10rem;
}

.badge.secondary {
  background-color: rgba($color: $light-blue-90, $alpha: 0.5);
}

.badge.primary {
  background-color: rgba($color: $blue-0, $alpha: 0.05);
  color: $blue-0;
}

hr.horizontal {
  border: 0;
  border-top: 1px solid rgba($color: $blue-70, $alpha: 0.1);
}
