@use "./variables.scss" as *;

.scroll-to-top {
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
}

.scroll-to-top::before {
  content: "";
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll-to-top a {
  position: sticky;
  top: 93vh;
  background-color: $color-white;
  border: 1px solid rgba($blue-70, 0.1);
  box-shadow: rgba($blue-70, 0.1) 0 1px 3px 0;
  color: rgba($blue-70, 0.85);

  border: none;
  padding: 8px 16px;
  border-radius: 32px;
  cursor: pointer;
  text-decoration: none;
}
