$blue-0: rgb(0, 122, 255);
$blue-10: rgb(0, 110, 230);
$blue-20: rgb(0, 98, 204);
$blue-30: rgb(0, 85, 179);
$blue-40: rgb(0, 73, 153);
$blue-50: rgb(0, 61, 128);
$blue-60: rgb(0, 49, 102);
$blue-70: rgb(0, 37, 76);
$blue-80: rgb(0, 24, 51);
$blue-90: rgb(0, 12, 25);

$light-blue-0: rgb(0, 122, 255);
$light-blue-10: rgb(26, 135, 255);
$light-blue-20: rgb(51, 149, 255);
$light-blue-30: rgb(77, 162, 255);
$light-blue-40: rgb(102, 174, 255);
$light-blue-50: rgb(128, 189, 255);
$light-blue-60: rgb(153, 202, 255);
$light-blue-70: rgb(179, 215, 255);
$light-blue-80: rgb(204, 228, 255);
$light-blue-90: rgb(230, 242, 255);

$color-white: rgb(255, 255, 255);
$color-black: rgb(33, 33, 33);

$text-size-xs: 0.64rem;
$text-size-sm: 0.8rem;
$text-size-md: 1rem;
$text-size-lg: 1.25rem;
$text-size-xl: 1.56rem;
$text-size-2xl: 1.95rem;
$text-size-3xl: 2.44rem;
$text-size-4xl: 3.05rem;
$text-size-5xl: 3.81rem;
